<%= render 'shared/errors',obj: @chef %>
<div class="row">
    <div class="col-md-8 well col-md-offset-2">
         <%= form_for @chef do |f| %>
         <%= f.label :name ,"نام "  %>
         <%= f.text_field :name  %>
         <%= f.label :email , 'ایمیل' %>
         <%= f.text_field :email %>
         
         <%=f.label :password , ' پسورد' %>
         <%= f.password_field :password %>
         
         <%= f.submit @chef.new_record? ? 'Create an Account' : 'Edit Account', class:"btn btn-success" %>
         <% end %>
    </div>
    
</div>
<hr>
