<%= render 'shared/errors',obj: @recipe %>
<div class="row">
    <div class="col-md-8 well col-md-offset-2">
         <%= form_for @recipe,html:{multipart: true} do |f| %>
         <%= f.label :name ,"نام "  %>
         <%= f.text_field :name  %>
         <%= f.label :summery , 'خلاصه' %>
         <%= f.text_field :summery %>
         
         <%=f.label :description , ' توضیحات' %>
         <%= f.text_area :description , rows:10%>
         <span class="picture">
             <%= f.file_field :picture , accept: 'image/jpg,image/png,image/gif'%>
         </span>
         <%= f.submit @recipe.new_record? ? 'Create New Recipe' : 'Edit Recipe', class:"btn btn-success" %>
         <% end %>
    </div>
    
</div>
<hr>
<script type="text/javascript">
    $('.recipe_picture').bind('change',function(){
        size_in_megabytes = this.file[0].size/1024/1024;
        if (size_in_megabytes > 5)
            alert('your picture is too larg please choose an other picture');
    })
</script>