<%= render 'shared/page_title' , title: @recipe.name%>

<div class="row">
    <div class="col-md-4 pull-right center">
        <%= link_to gravatar_for(@recipe.chef , size:200 ) , chef_path(@recipe.chef)%>
       
        <p>
           
            <h5><%= @recipe.chef.name%>  : ساخته شده توسط   <h5>
        </p>
    </div>
    <div class="col-md-8">
        <% if current_user == @recipe.chef %>
        <%= link_to "Edit this post" ,edit_recipe_path(@recipe) , class:"btn btn-success pull-right" %>
        <% end %>
        <h3><%= @recipe.summery%></h3>
     <%= image_tag @recipe.picture.url , size: "250x150", class:"gravatar" if @recipe.picture? %>

        <div class="well">
            <strong> steps :</strong>
        <p>
            <%= simple_format(@recipe.description) %>
            </p>
            <div class="pull-right">
            <%=link_to like_recipe_path(@recipe, like: true), method: :post do%>
            <i class="glyphicon glyphicon-thumbs-up"></i><%= @recipe.total_likes_thubms_up%>
            <%end %>&nbsp;&nbsp;
            <%=link_to like_recipe_path(@recipe, like: false), method: :post do%>
            <i class="glyphicon glyphicon-thumbs-down"></i><%= @recipe.total_likes_thubms_down%>
            <%end %>&nbsp;
            </div>
        </div>
    </div>
</div>
<h5><%= link_to "back to all Recipe" , recipes_path , class:"btn btn-warning btn-small" %></h5?